{% extends "base.html" %}
{% load static %}
{% block content %}
<!--begin::Main-->
<div class="app-main flex-column flex-row-fluid " id="kt_app_main">
    <!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
        <!--begin::Toolbar-->
        <div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 ">
            <!--begin::Toolbar container-->
            <div id="kt_app_toolbar_container" class="app-container  container-xxl d-flex flex-stack ">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">Roles List</h1>
                    <!--end::Title-->
                </div>
                <!--end::Page title-->
            </div>
            <!--end::Toolbar container-->
        </div>
        <!--end::Toolbar-->   
        <!--begin::Content-->
        <div id="kt_app_content" class="app-content  flex-column-fluid ">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container  container-xxl ">
                <!--begin::Row-->
                <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-5 g-xl-9">    
                    <!--begin::Col-->
                    <div class="col-md-4">
                        <!--begin::Card-->
                        <div class="card card-flush h-md-100">
                            <!--begin::Card header-->
                            <div class="card-header">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2>Administrator</h2>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
        
                            <!--begin::Card body-->
                            <div class="card-body pt-1">
                                <!--begin::Users-->
                                <div class="fw-bold text-gray-600 mb-5">Total users with this role: 5</div>
                                <!--end::Users-->
        
                                <!--begin::Permissions-->
                                <div class="d-flex flex-column text-gray-600">
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> All Admin Controls</div>
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View and Edit Financial Summaries</div>
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> Enabled Bulk Reports</div>
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View and Edit Payouts</div>
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View and Edit Disputes</div>
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> <em>and 7 more...</em></div>
                                </div>
                                <!--end::Permissions-->
                            </div>
                            <!--end::Card body-->
        
                            <!--begin::Card footer-->
                            <div class="card-footer flex-wrap pt-0">
                                <a href="{% url 'user_role' %}?user-type=Administrator" class="btn btn-primary my-1 me-2">View Role</a>
                            </div>
                            <!--end::Card footer-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end::Col-->
        
                    <!--begin::Col-->
                    <div class="col-md-4">
                        <!--begin::Card-->
                        <div class="card card-flush h-md-100">
                            <!--begin::Card header-->
                            <div class="card-header">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2>Staff</h2>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
        
                            <!--begin::Card body-->
                            <div class="card-body pt-1">
                                <!--begin::Users-->
                                <div class="fw-bold text-gray-600 mb-5">Total users with this role: 14</div>
                                <!--end::Users-->
        
                                <!--begin::Permissions-->
                                <div class="d-flex flex-column text-gray-600">
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> Some Admin Controls</div>
        
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View Financial Summaries only</div>
                                    
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View and Edit API Controls</div>
                                    
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View Payouts only</div>
                                    
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View and Edit Disputes</div>
                                    
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> <em>and 3 more...</em></div>
                                </div>
                                <!--end::Permissions-->
                            </div>
                            <!--end::Card body-->
        
                            <!--begin::Card footer-->
                            <div class="card-footer flex-wrap pt-0">
                                <a href="{% url 'user_role' %}?user-type=Staff" class="btn btn-primary my-1 me-2">View Role</a>
                            </div>
                            <!--end::Card footer-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end::Col-->
        
                    <!--begin::Col-->
                    <div class="col-md-4">
                        <!--begin::Card-->
                        <div class="card card-flush h-md-100">
                            <!--begin::Card header-->
                            <div class="card-header">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2>User</h2>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
        
                            <!--begin::Card body-->
                            <div class="card-body pt-1">
                                <!--begin::Users-->
                                <div class="fw-bold text-gray-600 mb-5">Total users with this role: 14</div>
                                <!--end::Users-->
        
                                <!--begin::Permissions-->
                                <div class="d-flex flex-column text-gray-600">
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> Some Admin Controls</div>
        
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View Financial Summaries only</div>
                                    
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View and Edit API Controls</div>
                                    
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View Payouts only</div>
                                    
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> View and Edit Disputes</div>
                                    
                                    <div class="d-flex align-items-center py-2"><span class="bullet bg-primary me-3"></span> <em>and 3 more...</em></div>
                                </div>
                                <!--end::Permissions-->
                            </div>
                            <!--end::Card body-->
        
                            <!--begin::Card footer-->
                            <div class="card-footer flex-wrap pt-0">
                                <a href="{% url 'user_role' %}?user-type=User" class="btn btn-primary my-1 me-2">View Role</a>
                            </div>
                            <!--end::Card footer-->
                        </div>
                        <!--end::Card-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Row-->
            </div>
            <!--end::Content container-->
        </div>
        <!--end::Content-->	
    </div>
    <!--end::Content wrapper-->
    <!--begin::Footer-->
    <div id="kt_app_footer" class="app-footer ">
        <!--begin::Footer container-->
        <div class="app-container  container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3 ">
            <!--begin::Copyright-->
            <div class="text-gray-900 order-2 order-md-1">
                <span class="text-muted fw-semibold me-1">2024©</span>
                <a href="/" class="text-gray-800 text-hover-primary">Makesures</a>
            </div>
            <!--end::Copyright-->
    
            <!--begin::Menu-->
            <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
                <li class="menu-item"><a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
                </li>
    
                <li class="menu-item"><a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support</a></li>
    
                <li class="menu-item"><a href="https://themes.getbootstrap.com/product/keen-the-ultimate-bootstrap-admin-theme/" target="_blank" class="menu-link px-2">Purchase</a></li>
            </ul>
            <!--end::Menu-->
        </div>
        <!--end::Footer container-->
    </div>
    <!--end::Footer-->                         
</div>

<!--end:::Main-->
{% endblock content %}
{% block jscode %}
<script src="{% static 'assets/js/custom/apps/user-management/users/list/table.js' %}"></script>
<script src="{% static 'assets/js/custom/apps/user-management/users/list/export-users.js' %}"></script>
<script src="{% static 'assets/js/custom/apps/user-management/users/list/add.js' %}"></script>
<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}"></script>
{% endblock jscode %}