{% extends "user-profile/base.html" %}
{% load static %}
{% block userContent %}
<!--begin::Statements-->
<div class="card">
    <!--begin::Header-->
    <div class="card-header card-header-stretch">
        <!--begin::Title-->
        <div class="card-title">
            <h3 class="m-0 text-gray-800">Statement</h3>
        </div>
        <!--end::Title-->
    </div>
    <!--end::Header-->

    <!--begin::Table-->
    <div class="table-responsive">
        <table class="table align-middle table-row-bordered table-row-solid gy-4 gs-9">
            <!--begin::Thead-->
            <thead class="border-gray-200 fs-5 fw-semibold bg-lighten">
                <tr>
                    <th class="min-w-175px ps-9">Date</th>
                    <th class="min-w-150px px-0">Order ID</th>
                    <th class="min-w-350px">Details</th>
                    <th class="min-w-125px">Credit</th>
                </tr>
            </thead>
            <!--end::Thead-->

            <!--begin::Tbody-->
            <tbody class="fs-6 fw-semibold text-gray-600">
                {% if statements %}
                    {% for statement in statements %}
                    <tr>
                        <td class="ps-9">{{ statement.date }}</td>
                        <td class="ps-0">{{ statement.order_id }}</td>
                        <td>{{ statement.details }}</td>
                        <td class="text-danger">- {{ statement.credit }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">No statements available.</td>
                    </tr>
                {% endif %}
            </tbody>
            <!--end::Tbody-->
        </table>
    </div>
    <!--end::Table-->
</div>
<!--end::Statements-->
{% endblock userContent %}